#right-or-wrong {
    border-top: 3px solid #ddd;
  }
  
  #answer-options button {
    border-radius: 1.25rem;

  }
  
  #quiz-question {
    font-size: 2rem;
    font-weight: bold;
    
  }
  
  #view-highscores:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .jumbo {
    background-color: #29afd1;
  }
  
  .jumbotron {
    padding-top: 1rem;

    background-color: rgb(197, 150, 104);
  }
  